body{
  text-align:center;
}

form{
  display: inline-block;
  position: absolute;
  left: 200px;
  top: 50px;
}
label{
  position: relative;
  display: inline-block;
  left: 20px; 
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.form-field{
  position: relative;
  display: inline-block;
  width: 200px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;  
}

input {                
  width: 200px;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

input:focus{
  outline: none;
}

button{
  position: relative;
  left: -250px;
  top: 50px;
  background-color: red;
  color:white;
  border:0px;
  border-radius: 20px;
  width: 130px;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1em; 
}

div.form-field::before{
  position: relative;
  content: attr(data-hint);
  font-size: 0.5em;
  color: white;
  padding: 8px 8px;
  background: black;
  position: relative; 
  font-family: Arial, Helvetica, sans-serif;
  top: -15px;
  left: -40px;
  min-width: 500px;
  box-shadow: 4px 4px 4px #888888;
  overflow: hidden;
} 

div.form-field::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 15%;
  border-width: 5px;
  border-style: solid;
  border-color: #000000 transparent transparent;
  overflow: hidden;
  width: 1px;
  height: 1px;
  background: rgb(2, 2, 2);
  transform: translateX(-70%) translateY(-70%) rotate(45deg);
  box-shadow: 4px 4px 4px #888888;
}